.done-container {
	width: 300px;
	display: inline-block;
	float: left;
	clear: both;
	
	h1 {
		margin-bottom: 30px;
	}

	.done-container_holder {
		background: white;
		padding: 15px;
		border-radius: 3px;
	}
}