.done-item_container {
	border-bottom: 1px solid gray;
	padding: 5px 0;

	&:last-of-type {
		border-bottom: 0;
		padding-bottom: 0;
	}

	p {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 80%;
		white-space: nowrap;
		
		&::first-letter {
		    text-transform: uppercase;
		}
	}

	span {
		float: right;
		margin-left: 10px;
		cursor: pointer;
	}
}