.input-container {
    width: 300px; 
    display: inline-block;
    float: left;
    
	.input-container_holder {
        border: 1px solid #efe9e9; 
        padding: 20px; 
        text-align: center; 
        z-index: 2; 
        left: 40px;
        top: 100px;
        background: white;
        border-radius: 3px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        border-radius: 3px;
        border: 1px solid #efe9e9;
        padding: 5px;
        font-size: 13px;
        font-family: 'Quicksand', sans-serif;
        width: 80%;
        margin-bottom: 10px;
    }

    button {
        width: 40%;
        border: 1px solid gray;
        background: white;
        padding: 8px 15px;
        margin-top: 15px;
        font-size: 14px;
        border-radius: 3px;
    }
}