.output-container__item {
	cursor: pointer; 
	padding: 8px; 
	border: 1px solid #efe9e9;
	position: absolute;
	width: auto;
	margin: 10px auto;
	top: 0;
	left: 0;
	background: #ffffff;
	border-radius: 3px;

	p {
		padding: 0;
		margin: 0;
		display: inline-block;

		&::first-letter {
		    text-transform: uppercase;
		}
	}

	hr {
		margin: 8px 0;
	}

	.output-container__item-close {
		float: right;
		padding-left: 20px; 
		padding-right: 5px;
	}
}